[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DACF"]
	path = DACF
	url = https://github.com/cran/DACF
[submodule "lamme"]
	path = lamme
	url = https://github.com/qmmmmliu/lamme
